@model DretBlog.Web.Models.Posts.PostViewModel

<!-- Content-->
<div class="md-content">
    <div class="consult-postDetail">
        <div class="image-full"><img src="assets/img/blogs/detail/1.jpg" alt=""></div>
        <div class="consult-postDetail"></div>
        <div class="container">
            <div class="consult-postDetail__main">
                
                <!-- social-01 -->
                <div class="social-01 social-01__style-02">
                    <nav class="social-01__navSocial"><a class="social-01__item" href="#"><i class="fa fa-facebook"></i></a><a class="social-01__item" href="#"><i class="fa fa-skype"></i></a><a class="social-01__item" href="#"><i class="fa fa-twitter"></i></a><a class="social-01__item" href="#"><i class="fa fa-instagram"></i></a>
                    </nav>
                </div><!-- End / social-01 -->
                
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="consult-postDetail__content">
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <!--Title position-->@Html.Raw(ViewBag.Title)
                                    <ul class="consult-postDetail__meta">
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i>Services    </li>
                                        <li><i class="fa fa-comments-o" aria-hidden="true"></i>Comment</li>
                                        <li><i class="fa fa-calendar-o" aria-hidden="true"></i>@Html.Raw(ViewBag.CreatedAt)</li>
                                    </ul>
                                    
                                </div>
                                
                            </div>
                            <!--Blog content-->
                            
                            @Html.Raw(ViewBag.Poststr)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-xl-6 offset-0 offset-sm-0 offset-md-0 offset-lg-2 offset-xl-3 ">
                        <h4 class="comment-heading">Comment <span>(2)</span></h4>
                        <ol class="comment-list">
                            <li class="comment parent">
                                <div class="comment-content">
                                    <div class="comment-avatar">
                                        <img alt="" src="assets/img/avatars/avatar-01.jpg" class="avatar photo">
                                    </div><!-- .comment-avatar -->
                        
                                    <div class="comment-body">
                                        <div class="comment-metadata">
                                            <a href="#">
                                                <time datetime="2016-12-30T08:18:37+00:00">May 04, 2017</time>
                                            </a>
                                        </div><!-- .comment-metadata -->
                                        
                                        <span class="fn">John Doe</span>
                        
                                        <div class="comment-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisc</p>
                                        </div>
                        
                                        <div class="comment-button">
                                            <a href="#" class="like">like</a>
                                            <a href="#" class="reply">reply</a>
                                        </div>
                                    </div><!-- .comment-body -->
                                </div><!-- .comment-content -->
                        
                                <ol class="children">
                                    <li class="comment">
                                        <div class="comment-content">
                                            <div class="comment-avatar">
                                                <img alt="" src="assets/img/avatars/avatar-02.jpg" class="avatar photo">
                                            </div><!-- .comment-avatar -->
                                
                                            <div class="comment-body">
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <time datetime="2016-12-30T08:18:37+00:00">May 04, 2017</time>
                                                    </a>
                                                </div><!-- .comment-metadata -->
                                                
                                                <span class="fn">John Doe</span>
                        
                                                <div class="comment-text">
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                </div>
                                                
                                                <div class="comment-button">
                                                    <a href="#" class="like">like</a>
                                                    <a href="#" class="reply">reply</a>
                                                </div>
                                            </div><!-- .comment-body -->
                        
                                        </div><!-- .comment-content -->
                                    </li>
                                </ol>
                            </li>
                        
                            
                        </ol>
                        
                        <!-- form-01 -->
                        <div class="form-01 form-01__style-02">
                            <h2 class="form-01__title">Leave A Comment</h2>
                            <form class="form-01__form">
                                <div class="form__item form__item--02">
                                    <input type="text" name="name" placeholder="Your name"/>
                                </div>
                                <div class="form__item form__item--02">
                                    <input type="email" name="phone" placeholder="Your Email"/>
                                </div>
                                <div class="form__item">
                                    <textarea rows="3" name="Your comment" placeholder="Your comment"></textarea>
                                </div>
                                <div class="form__button"><a class="btn btn-primary btn-w180" href="#">Post comment</a>
                                </div>
                            </form>
                        </div><!-- End / form-01 -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>