@model DretBlog.Web.Models.Posts.PostViewModel

<!-- Content-->
<div class="md-content">
    <div class="consult-postDetail">
        <div class="image-full"><img src="assets/img/blogs/detail/1.jpg" alt=""></div>
        <div class="consult-postDetail"></div>
        <div class="container">
            <div class="consult-postDetail__main">
                
                <!-- social-01 -->
                <div class="social-01 social-01__style-02">
                    <nav class="social-01__navSocial"><a class="social-01__item" href="#"><i class="fa fa-facebook"></i></a><a class="social-01__item" href="#"><i class="fa fa-skype"></i></a><a class="social-01__item" href="#"><i class="fa fa-twitter"></i></a><a class="social-01__item" href="#"><i class="fa fa-instagram"></i></a>
                    </nav>
                </div><!-- End / social-01 -->
                
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="consult-postDetail__content">
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <!--Title position--><h2>@Model.Title</h2>
                                    <ul class="consult-postDetail__meta">
                                        <li><i class="fa fa-user" aria-hidden="true"></i>@Model.Author</li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i>Services</li>
                                        <li><i class="fa fa-comments-o" aria-hidden="true"></i>Comment</li>
                                        <li><i class="fa fa-calendar-o" aria-hidden="true"></i>@Model.CreatedAt.ToString("MM/dd/yyyy")</li>
                                    </ul>
                                    <!--Blog content-->
                                    @Html.Raw(ViewBag.Poststr)
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        
</div>