@model DretBlog.Web.Models.Dashboard.CreatePostViewModel
<!--removed id="editor" from textarea and id="summit" from summit-->
<script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
<div class="container">
    
        
        <form method="POST" asp-action="CreatePost">
        <div class="col-md-4   offset-md-4">
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Title" placeholder="Title">
            </div>
            <textarea id="editor" class="form-control" asp-for="Content">Submit your text post here...</textarea>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tags">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit new post</button>
            </div>
        </div>
        </form>
    
</div>

<style>
    #row_style {
        margin-top: 30px;
    }

    #submit {
        display: block;
        margin: auto;
    }
</style>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>


<script type="text/javascript">
    jQuery(function ($) {
        $("#editor").shieldEditor({
            height: 300
        });
    });
</script>