@model DretBlog.Web.Models.Dashboard.CreatePostViewModel

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h6 class="my-4">UserName</h6>
        
        </div>
      <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Create post</h3>
                    <form method="POST" asp-action="CreateNewPost"> 
                        <div>
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                            </div>
                            <div>
                                <textarea id="editor" class="form-control" asp-for="Content">Submit your text post here...</textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tags">
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit new post</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Your Post(s)
                </div>
                <div class="card-body">
                    @if (Model.UserPostTitles != null)
                    {
                        foreach (var posts in Model.UserPostTitles)
                        {
                            <p>@posts.Title</p>
                            <small class="text-muted">Posted on @posts.CreatedAt.ToShortDateString()</small>
                            <hr>
                        }
                        
                    }else
                    {
                    <p>You have no post yet!</p>
                    
                    }
                    
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<style>
    #row_style {
        margin-top: 30px;
    }

    #submit {
        display: block;
        margin: auto;
    }
</style>

<script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('editor');
</script>