@using Microsoft.AspNetCore.Identity
@using DretBlog.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var name = UserManager.GetUserName(User);
} 

@if (SignInManager.IsSignedIn(User))
{
    
    <ul class="consult-menu">
    <li class="menu-item-has-children"><a href="#"> @name </a>
		<ul class="sub-menu">
			<li><a asp-controller="BlogContent" asp-action="Index" >Blog</a>
			</li>
			<li><a asp-action="Index" asp-controller="Dashboard">Dashboard</a>
			</li>
			<li><a asp-action="Logout" asp-controller="Accounts" >Sign out</a>
			</li>
		</ul>
	</li>
    </ul>
}
else
{
    <ul class="consult-menu">
        <li class=""><a href="#">Subscribe</a>
        </li>
        <li><a asp-controller = "Accounts" asp-action = "Login" >Sign in</a>
        </li>
        <li><a class="btn btn-primary" asp-controller="Accounts" asp-action = "Register" >Get Started</a>
        </li>
    </ul>
}


